#user-data-form label{
	margin-left: 70px;
	width: 130px;
	display: inline-block;
	vertical-align: top;
	padding: 4px;
	text-align: left;
	font: bold 12pt "Yu Gothic UI";
}
#user-data-form .editable-data{
	margin-right: 10px;
	margin-left: 20px;
	display: inline-block;
	vertical-align: top;
	font: 12pt "Yu Gothic UI";
}

#user-data-form input.editable-data{
	width: 500px;
	padding-bottom: 6px;
}

#user-data-form > div{
	margin: 10px 0;
	width: 100%;
}

h1 {
	margin-left: 225px;
	font: bold "Yu Gothic UI";
}
h2 {
	margin-left: 70px;
	font: bold "Yu Gothic UI";
}
#comment_short, 
#comment_full{
	min-height: 39px;
}

#user_form_edit_btn,
#user_form_noedit_btn,
#user_form_submit_btn{
	display: inline-block;
	float: right;
	font-size: 15px;
	font-weight: bold;
	padding: 10px 20px;
	margin-left: 5px;
	border-radius: 5px;
	border: 1px ridge #f3c846;
}

#user_form_edit_btn,
#user_form_submit_btn{
	color: #ffffff ;
	background: #008b8b;
}
#user_form_noedit_btn{
	color: #008b8b ;
	background: #ffffff;
}
#user_form_submit_btn,
#user_form_noedit_btn{
	display: none;
}

#user-data-form > div.controls{
	width: 725px;
}

.validMessage{
	color: red;
	font: 10pt bold "Arial Narrow";
	display: inline-block;
	visibility: hidden;
	vertical-align: bottom;
}